html,
body {
  margin: 0;
  padding: 0;
  background-color: #323232;
  max-width: 100%;
}
body {
  padding: 1rem;
}

.p5Canvas, /* Adds support for the <div /> around SVG output */
canvas {
  display: block !important;
  margin: 1rem 0;
}
